#christmaslights {
	position: fixed;
	top: 0;
	left: 0;

	height: 64px;
	width: 100%;

	overflow: hidden;
	cursor: pointer;

	z-index: 12;
}

#christmaslights .light {
	float: left;

	width: 64px;
	height: 64px;

	background: url('//raw.githubusercontent.com/sandrosdj/Garage/master/LightUpTheChristmas/bulbs.png');
	background-position: 0px 0px;
}

#christmaslights .light.color0.broken {
	background-position: -128px 0px;
}
#christmaslights .light.color0 {
	background-position: 0px 0px;
}

#christmaslights .light.color1.broken {
	background-position: -128px -64px;
}
#christmaslights .light.color1 {
	background-position: 0px -64px;
}

#christmaslights .light.color2.broken {
	background-position: -128px -128px;
}
#christmaslights .light.color2 {
	background-position: 0px -128px;
}